.navigation {
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  transform: translateX(-25%);
  list-style: none;
}
