<div class="container">
  <div class="frame" [ngClass]="{ 'oneX': (routeCommunicationService.shotSize$ | async) === 'oneX' }">
    <div class="shot" (click)="toggleShotSize($event) "#shotRef>
      <div class="views">
        <img class="default" src="assets/2do/images/register/default.png" alt="default">
        <img class="hover" src="assets/2do/images/register/hover.png" alt="hover">
        <img class="active" src="assets/2do/images/register/active.png" alt="active">
        <img class="default-shadow" src="assets/2do/images/register/default-shadow.png" alt="default shadow">
      </div>

      <div class="background">
        <div class="panel"></div>
      </div>

      <button mat-fab
              *ngIf="revealPlayAnimationBtn"
              [matTooltip]="playAnimationBtnTooltipText"
              [matTooltipPosition]="playAnimationBtnTooltipPosition"
              [disabled]="(playAnimationBtnState === 'enabled') ? false : true"
              (click)="animationPlayer.play()"
              #playAnimationBtnRef>
        <mat-icon [svgIcon]="playAnimationBtnIcon"></mat-icon>
      </button>
    </div>
  </div>
</div>
