<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="frame">
    <div class="shot" #shotRef>
      <div class="views">
        <img class="default" src="assets/2do/register/default.png" alt="default">
        <img class="hover" src="assets/2do/register/hover.png" alt="hover">
        <img class="active" src="assets/2do/register/active.png" alt="active">
      </div>

      <div class="background">
        <div class="panel"></div>
      </div>

      <button mat-fab
              *ngIf="revealPlayAnimationBtn"
              [matTooltip]="playAnimationBtnTooltipText"
              [matTooltipPosition]="playAnimationBtnTooltipPosition"
              [disabled]="(playAnimationBtnState === 'enabled') ? false : true"
              (click)="animationPlayer.play()">
        <mat-icon>{{ playAnimationBtnIcon }}</mat-icon>
      </button>
    </div>
  </div>
</div>
