<div class="container">
  <div class="frame" [ngClass]="{ 'oneX': (routeCommunicationService.shotSize$ | async) === 'oneX' }">
    <div class="shot" (click)="toggleShotSize($event)" #shotRef>
      <div class="views">
        <img class="default" src="assets/2do/images/reset-password/default.png" alt="default">
        <img class="hover" src="assets/2do/images/reset-password/hover.png" alt="hover">
        <img class="active" src="assets/2do/images/reset-password/active.png" alt="active">
        <img class="confirmation-default" src="assets/2do/images/reset-password/confirmation-default.png" alt="confirmation default">
        <img class="confirmation-hover" src="assets/2do/images/reset-password/confirmation-hover.png" alt="confirmation hover">
        <img class="default-shadow" src="assets/2do/images/reset-password/default-shadow.png" alt="default shadow">
      </div>

      <div class="background">
        <div class="panel"></div>
      </div>

      <button mat-fab
              [matTooltip]="playBtnTooltipText"
              [matTooltipPosition]="playBtnTooltipPosition"
              [disabled]="(playBtnState === 'enabled') ? false : true"
              (click)="shotAnimation.play()"
              #playBtnRef>
        <mat-icon [svgIcon]="playBtnIcon"></mat-icon>
      </button>
    </div>
  </div>
</div>
