@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-blue-grey, 500, 700, 900);
$app-accent:  mat-palette($mat-cyan, 500, 700, 900);

$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f4f4f4;
}

